<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>This app needs access to your Documents folder.</string>

    <key>NSDownloadsFolderUsageDescription</key>
    <string>This app needs access to your Downloads folder.</string>

    <key>NSDesktopFolderUsageDescription</key>
    <string>This app needs access to your Desktop folder.</string>

    <key>NSAppleEventsUsageDescription</key>
    <string>InjectHub needs access to Terminal to send shell commands.</string>
<!--    <key>NSQuitAlwaysKeepsWindows</key>-->
<!--    <false/>-->
<!---->
<!--    <key>NSUserActivityTypes</key>-->
<!--    <array/>-->
</dict>
</plist>

